*{
	margin: 0px;
	text-decoration: none;
	margin-top: 0px;

}
a{
	text-decoration: none;
	background-color: transparent ;
}
a:hover{
		color: #abe234;
}
html, body{
	height: 100%;
}
.navbar .navbar-nav {
	font-family: 'PT Sans', sans-serif;
	font-size: 16pt;
	display: inline-block;
	vertical-align: top;


}
.navbar-default{
	background-color: transparent;
	color: #777 !important;
	border: 0px;
	z-index: 99;
}

ul.nav a{
	text-decoration: none;
	background-color: transparent !important;
	color: #D4C6C6 !important;

}

ul.nav a:hover{
	color: #abe234 !important;
	border-width: 0px;
	border-style: solid;
	background-color: transparent;
	font-size: 17pt;

}

.link-active{
	color: red !important;
	border-width: 0px;
	border-style: solid;
	background-color: transparent;
	font-size: 17pt;

}
.navbar-inner{
	background-color: transparent;
}

.fix-to-top {
  position: fixed;
  top: 0;
  background-color: rgba(0,0,0,0.5);
  width: 100%;
  height: 50px;
}
#header-container{
	height: 100%;
	width: 100%;
	background-image: url("../assets/img/banner.jpg" );
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;

}
#header-main{
	margin-top: 0px !important;
	padding-top: 100px;
	padding-left: 50px;
	width: 100%;
	height: 90%;

}
#header-main h1{
	color: white;	
	font-family: 'Alegreya', serif;
	font-size: 75px;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}
#header-main h3{
	color: white;
	   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

#container-background{
	background-color: rgba(0,0,0,.5);
	color: #fff;
	height: 80%;
	width: 60%;
	margin: 0 auto;
	margin-top: 150px;
	padding: 25px;
	border-radius: 5px;
}
#about-stack{
	height: 70%;
	padding-top: 50px;
}
#about-container{
	height: 100%;
	background-image: url("../assets/img/about.jpg" );
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	overflow: auto;

	
}
#about-header {
	color: #abe234;
	font-family: 'Permanent Marker', cursive;
	position: absolute;
	padding-left: 190px;
	padding-top: 0px;
	font-size: 35px;

	-webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  transform: rotate(-10deg);
}

#portfolio-container{
	height: 100%;
	background-image: url("../assets/img/portfolio.jpg" );
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	overflow: auto;

}
#blog-container{
	height: 100%;
	background-image: url("../assets/img/blog.jpg" );
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	overflow: auto;

}
#contact-container{
	height: 70%;
	background-image: url("../assets/img/contact.jpg" );
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	overflow: auto;
}
#footer-container{
	height: 30%;
	background-color: black;
	background-attachment: fixed;
	overflow: auto;
	padding-top: 50px;
}

#footer-container a{
	color: white;
}

#footer-container a:hover{
	color: #abe234 !important;
	border-width: 0px;
	border-style: solid;
	background-color: transparent;
	font-size: 12pt;

}

.social-media {
	text-align: center;
}
